.dark-mode .light-img {
  display: none;
}
.dark-mode .dark-img {
  display: block;
}
.dark-img {
  display: none;
}
.light-img {
  display: block;
}

.nuxt-content {
  @apply break-words;

  & h2,
  & h3 {
    /* Fix anchor scrollTo */
    &::before {
      display: block;
      content: " ";
      margin-top: -85px;
      height: 85px;
      visibility: hidden;
      pointer-events: none;
    }

    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      @apply ms-5;

      &::before {
        content: "#";
        @apply absolute text-xl font-normal leading-8 opacity-100 text-primary-500 -ms-5 pe-2;
      }

      @screen lg {
        @apply ms-0;

        &::before {
          @apply opacity-0;
        }
      }
    }
    &:hover {
      & > a::before {
        @apply opacity-100;
      }
    }
  }

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute top-0 right-0 z-10 mt-3 font-mono text-sm leading-none tracking-tight text-gray-100 me-4;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      @apply pt-8;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply absolute bottom-0 right-0 hidden px-2 py-2 mb-3 text-sm font-semibold leading-none text-white uppercase bg-gray-800 border border-white rounded-md shadow-lg me-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply bg-gray-600 outline-none;
      }
    }
    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }

  /* Force style on pre elements */
  & pre[class*="language-"] {
    /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
    @apply static bg-gray-800;
  }
}
